<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 数据库配置信息 -->
	<!-- default 默认的是哪一个数据源 -->
	<environments default="hello_world_db">
		<environment id="hello_world_db">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<!-- 数据库连接信息 -->
				<property name="driver" value="com.mysql.jdbc.Driver"/>		
				<property name="url" value="jdbc:mysql://192.168.14.252:3306/test?userUnicode=true&amp;characterEncoding=UTF-8"/>	
				<property name="username" value="root"/>
				<property name="password" value="xiafei"/>
			</dataSource>
		</environment>
	</environments>
	
	<!-- mapper配置文件的映射关系 -->
	<mappers>
		<mapper resource="com/javasm/student/mapper/StudentMapper.xml"/>
	</mappers>
</configuration>